<html>
    <head>
        <title>Belajar Go Lang Web Server</title>
    </head>
    <body>
        <p>jariJari : {{.jariJari}}, tinggi: {{.tinggi}}, volume : {{.volumeTabung}}, luas alas: {{.luasLingkaran}}, keliling alas: {{.kelilingLingkaran}}</p>
    </body>
</html>